.embla {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.embla__container {
    display: flex;
    width: 100%;
}

.embla__slide {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}

/* Tombol Navigasi */
.embla__buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    pointer-events: none;
    padding: 0 10px;
}

.embla__button {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: all;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.embla__button:hover {
    background: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.embla__button .icon {
    width: 24px;
    height: 24px;
}

/* Indikator Garis */
.embla__indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.embla__indicator-line {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.embla__indicator-line.is-selected {
    background-color: #333;
    transform: scaleX(1.5);
}

.embla__indicator-line:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.embla__slide img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}